@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

* {
    font-family: "Nunito", sans-serif;
    color: red;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 400px;
}
